.Logo {
  background-color: white;
  padding: 8px;
  height: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}

.Logo img {
  height: 100%; /* take 100% height of the 80% defined above in Logo. Logo is img's container */
}